.project-gallery {
    @extend %list;
    @extend %wrap;
   
    margin-bottom: -1*$gallery-gap;
}
.project-gallery__item {
    flex-basis: calc((100% - 2*$gallery-gap)/ 3);
    
    transition: box-shadow 250ms $animation-function;

    &:not(:nth-last-child(-n+3)){
        margin-bottom: $gallery-gap;
    }
    &:not(:nth-child(3n+3)){
        margin-right: $gallery-gap;
    }
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

